
<%= form_for @review do |f|%>
   
    <div class="reviewBody">
        
        <p class="textTitle">
            
            <%= f.label :title  %>
            <%= f.text_field :title %>
        </p>

        <p class="body">
            <%= f.label :body  %>
            <%= f.text_area :body%>
        </p>

        <p class="">
            <%= f.label :score  %>
            <%= f.number_field :score %>
        </p>
    
    
    
    <%= f.submit "Save review" %>
    </div>
<%end%>